<div class="container">
  <h5>Link by routerLink</h5>
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a
        class="nav-link"
        routerLink="/demo/routing-and-navigation"
        routerLinkActive="active">
        Routing and Navigation
      </a>
    </li>
    <li class="nav-item">
      <a
        class="nav-link"
        routerLink="/dashboard"
        routerLinkActive="active">
        Dashboard
      </a>
    </li>
    <li class="nav-item">
      <a
        class="nav-link"
        routerLink="/heroes"
        routerLinkActive="active">
        Heroes
      </a>
    </li>
    <li class="nav-item">
      <a
        class="nav-link"
        routerLink="/items"
        routerLinkActive="active">
        Items
      </a>
    </li>
    <li class="nav-item">
      <a
        class="nav-link"
        routerLink="/school"
        routerLinkActive="active">
        School
      </a>
    </li>
    <li *ngIf="!authService.isLoggedIn" class="nav-item">
      <a
        class="nav-link"
        routerLink="/auth/login"
        routerLinkActive="active">
        Login
      </a>
    </li>
    <li *ngIf="authService.isLoggedIn" class="nav-item">
      <a class="nav-link" (click)="authService.logout()">
        Logout
      </a>
    </li>
  </ul>
  <hr />
  <router-outlet></router-outlet>
</div>

<hr />
<ul class="nav">
  <li class="nav-item">
    <a
      class="nav-link"
      [routerLink]="[
        {
          outlets: {
            left: ['show-woman'],
            right: null
          }
        }
      ]">
      Woman
    </a>
  </li>
  <li class="nav-item">
    <a
      class="nav-link"
      [routerLink]="[
        { outlets: { left: null, right: ['show-cat'] } }
      ]">
      Cat
    </a>
  </li>
  <li class="nav-item">
    <a
      class="nav-link"
      [routerLink]="[
        {
          outlets: {
            left: ['show-woman'],
            right: ['show-cat']
          }
        }
      ]">
      Woman & Cat
    </a>
  </li>
</ul>

<hr />
<div class="d-flex">
  <div class="m-1" style="min-width: 100px">
    <router-outlet name="left"></router-outlet>
  </div>
  <div class="m-1" style="min-width: 100px">
    <router-outlet name="right"></router-outlet>
  </div>
</div>

<br />
{{ authService.isLoggedIn }} | {{ authService.redirectURL }}
