<div class="container">
  <h5>Link by routerLink</h5>
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a
        class="nav-link"
        routerLink="/demo/routing-and-navigation"
        routerLinkActive="active">
        Routing and Navigation
      </a>
    </li>
    <li class="nav-item">
      <a
        class="nav-link"
        routerLink="/dashboard"
        routerLinkActive="active">
        Dashboard
      </a>
    </li>
    <li class="nav-item">
      <a
        class="nav-link"
        routerLink="/heroes"
        routerLinkActive="active">
        Heroes
      </a>
    </li>
    <li class="nav-item">
      <a
        class="nav-link"
        routerLink="/items"
        routerLinkActive="active">
        Items
      </a>
    </li>
    <li *ngIf="!authService.isLoggedIn" class="nav-item">
      <a
        class="nav-link"
        routerLink="/auth/login"
        routerLinkActive="active">
        Login
      </a>
    </li>
    <li *ngIf="authService.isLoggedIn" class="nav-item">
      <a class="nav-link" (click)="authService.logout()">
        Logout
      </a>
    </li>
  </ul>
  <hr />
  <router-outlet></router-outlet>
</div>

<br />
{{ authService.isLoggedIn }} | {{ authService.redirectURL }}
